[submodule ".vim/bundle/vim-sparkup"]
	path = .vim/bundle/vim-sparkup
	url = git://github.com/bingaman/vim-sparkup.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
